@font-face {
  font-family: "Ubuntu";
  src: url(../assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../assets/fonts/Ubuntu-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../assets/fonts/Ubuntu-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(../assets/images/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  @media only screen and (max-width: 600px) {
    background-color: #f8f9fe;
    background-image: none;
  }
}
