@font-face {
  font-family: "Ubuntu";
  src: url(../assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url(../assets/fonts/Ubuntu-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url(../assets/fonts/Ubuntu-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(../assets/images/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  @media only screen and (max-width: 600px) {
    body {
      background-color: #f8f9fe;
      background-image: none; } }

.sidebar {
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.5rem 2rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: 1.2rem;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .sidebar {
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1 / span 8;
      background-image: url(../assets/images/bg-sidebar-mobile.svg);
      background-size: cover;
      height: 17.2rem;
      justify-content: center;
      grid-auto-rows: 1fr;
      border-radius: 1rem;
      gap: 0; } }
  @media only screen and (max-width: 600px) {
    .sidebar {
      grid-template-columns: repeat(4, min-content);
      border-radius: 0;
      align-items: flex-start;
      grid-column: 1 / span 20; } }
  .sidebar__steps {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.2rem;
    padding: 1rem; }
    @media only screen and (max-width: 900px) {
      .sidebar__steps {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: .5rem; } }
    @media only screen and (max-width: 600px) {
      .sidebar__steps {
        padding: 0.8rem; } }
    .sidebar__steps-position {
      border: 1px solid #fff;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 50rem;
      height: 3.5rem;
      width: 3.5rem;
      grid-row: 1 / span 2;
      cursor: pointer;
      background-color: transparent; }
      .sidebar__steps-position--active {
        color: black;
        background-color: #e6e6e6; }
      @media only screen and (max-width: 600px) {
        .sidebar__steps-position {
          height: 3rem;
          width: 3rem; } }
    .sidebar__steps-text {
      align-self: end;
      line-height: 1.3rem;
      text-transform: uppercase;
      color: #fff; }
      @media only screen and (max-width: 600px) {
        .sidebar__steps-text {
          display: none; } }
    .sidebar__steps-data {
      align-self: start;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 1px; }
      @media only screen and (max-width: 600px) {
        .sidebar__steps-data {
          display: none; } }

.form {
  padding: 3rem 8rem 2rem;
  display: grid;
  grid-template-rows: 10rem auto 10rem; }
  @media only screen and (max-width: 900px) {
    .form {
      grid-column: 2 / span 6;
      padding: 3rem 0 2rem; } }
  @media only screen and (max-width: 600px) {
    .form {
      transform: translateY(-7.2rem);
      grid-column: 2 / span 18;
      background-color: white;
      padding: 2.5rem 2rem;
      padding-bottom: 1rem;
      border-radius: 1rem;
      grid-template-rows: auto auto; } }
  .form__heading {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 600px) {
      .form__heading {
        margin-bottom: 2rem; } }
  .form__title {
    font-size: 2.8rem;
    color: #0a254d; }
    @media only screen and (max-width: 600px) {
      .form__title {
        font-size: 2.3rem; } }
  .form__subtitle {
    color: #999;
    font-size: 1.3rem; }
    @media only screen and (max-width: 900px) {
      .form__subtitle {
        font-size: 1.5rem; } }
  .form__main {
    display: none; }
    .form__main--active {
      display: grid; }
  .form__info-page {
    grid-template-columns: 1fr 1fr; }
    .form__info-page > span {
      font-size: 1.2rem;
      color: red;
      margin-bottom: 0.5rem;
      justify-self: end;
      font-weight: bold; }
    .form__info-page--labels {
      color: #0a254d;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      font-weight: 500; }
    .form__info-page--input {
      grid-column: 1 / 3;
      border: 1px solid rgba(10, 37, 77, 0.1);
      border-radius: 0.5rem;
      padding: 1.6rem;
      margin-bottom: 2.25rem;
      font-size: 1.5rem;
      font-weight: 500; }
      .form__info-page--input:-webkit-autofill, .form__info-page--input:-webkit-autofill:hover, .form__info-page--input:-webkit-autofill:focus, .form__info-page--input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px white inset !important; }
      .form__info-page--input:focus {
        outline: none;
        border: 1px solid #1f5ebb; }
      .form__info-page--input:focus:invalid {
        border: 1px solid red; }
    .form__info-page--name-validation {
      display: none;
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .form__info-page--input:focus:invalid + .form__info-page--name-validation {
      display: inline; }
    .form__info-page--email-validation {
      display: none;
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
    .form__info-page--input:focus:invalid + .form__info-page--email-validation {
      display: inline; }
    .form__info-page--phone-validation {
      display: none;
      grid-row: 5/ 6;
      grid-column: 2 / 3; }
    .form__info-page--input:focus:invalid + .form__info-page--phone-validation {
      display: inline; }
  .form__select-plan {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    row-gap: 3rem;
    column-gap: 2rem; }
    @media only screen and (max-width: 600px) {
      .form__select-plan {
        row-gap: 1.2rem; } }
  .form__plan {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    gap: 3px;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .form__plan {
        display: grid;
        grid-column: 1 / 4;
        grid-template-columns: 4rem 1fr;
        column-gap: 1rem; } }
    .form__plan--active {
      background-color: #f8f9fe;
      border: 1px solid #1f5ebb; }
    .form__plan-img {
      margin-bottom: 8rem; }
      @media only screen and (max-width: 600px) {
        .form__plan-img {
          margin-bottom: 0;
          grid-row: 1 / span 2; } }
    .form__plan-mode {
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #0a254d; }
    .form__plan-price {
      color: #999;
      font-size: 1.1rem;
      line-height: 1.5rem; }
    .form__plan-extra-time {
      display: none;
      color: #0a254d;
      line-height: 1.1rem; }
      @media only screen and (max-width: 600px) {
        .form__plan-extra-time {
          grid-column: 2 / 3; } }
    .form__plan-period {
      grid-column: 1 / -1;
      background-color: #f8f9fe;
      border-radius: 0.8rem;
      height: 5rem;
      margin-bottom: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.4rem; }
      @media only screen and (max-width: 600px) {
        .form__plan-period {
          margin-top: 1rem;
          margin-bottom: 1.8rem; } }
    .form__plan-time {
      font-size: 1.3rem;
      font-weight: 500;
      color: #999; }
      .form__plan-time--active {
        color: #0a254d; }
    .form__plan-switch {
      appearance: none;
      width: 4rem;
      height: 2rem;
      background-color: #0a254d;
      border-radius: 2rem;
      position: relative;
      outline: none;
      cursor: pointer; }
      .form__plan-switch:before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 1.2rem;
        height: 1.2rem;
        background: #fff;
        border-radius: 2rem;
        transition: transform 0.2s; }
      .form__plan-switch:checked:before {
        transform: translateX(2rem); }
  .form__pick-addons {
    row-gap: 2rem;
    align-content: flex-start; }
  .form__addons {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    height: 8rem;
    display: grid;
    grid-template-columns: 5rem 1fr 6rem;
    align-items: center;
    align-content: center;
    cursor: pointer; }
    .form__addons:hover {
      border: 1px solid #1f5ebb; }
    .form__addons--active {
      background-color: #f8f9fe;
      border: 1px solid #1f5ebb; }
    .form__addons-checkbox {
      height: 1.6rem;
      grid-column: 1 / 2;
      grid-row: 1 / span 2;
      cursor: pointer; }
      @media only screen and (max-width: 600px) {
        .form__addons-checkbox {
          height: 2rem; } }
    .form__addons-service {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      font-size: 1.4rem;
      font-weight: 500;
      color: #0a254d; }
    .form__addons-text {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-size: 1.2rem;
      color: #999; }
    .form__addons-price {
      grid-column: 3 / 4;
      grid-row: 1 / span 2;
      font-size: 1.2rem;
      color: #1f5ebb; }
  .form__finishing {
    align-content: flex-start; }
  .form__chosed-plan {
    display: grid;
    padding: 2rem;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    background-color: #f8f9fe;
    border-radius: 1rem; }
    .form__chosed-plan-text {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      font-size: 1.5rem;
      font-weight: 500;
      color: #0a254d; }
    .form__chosed-plan-change {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      justify-self: flex-start;
      border: none;
      color: #999;
      font-family: inherit;
      line-height: 1.1rem;
      background-color: transparent;
      border-bottom: 1px solid #999;
      cursor: pointer; }
      .form__chosed-plan-change:hover {
        color: blueviolet; }
    .form__chosed-plan-price {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      justify-self: flex-end;
      font-size: 1.5rem;
      font-weight: 500;
      color: #0a254d; }
    .form__chosed-plan hr {
      margin: 2.5rem 0 1.5rem;
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      border: none;
      border-bottom: 1px solid #e6e6e6; }
  .form__addons-chosed {
    grid-column: 1 / -1;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    height: 3rem; }
    .form__addons-chosed--active {
      display: flex; }
    .form__addons-chosed-text {
      color: #999;
      font-size: 1.2rem; }
    .form__addons-chosed-price {
      font-size: 1.3rem;
      color: #0a254d; }
  .form__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }
    .form__total-text {
      color: #999;
      font-size: 1.2rem; }
    .form__total-price {
      font-size: 2rem;
      font-weight: 500;
      color: #1f5ebb; }
  .form__buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .form__buttons-row > button {
      font-family: "Ubuntu", sans-serif;
      border: none;
      font-weight: 500;
      font-size: 1.4rem;
      cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .form__buttons-row {
        position: fixed;
        bottom: 0;
        right: 0;
        grid-column: 1 / 20;
        grid-row: 3 / 4;
        background-color: white;
        width: 100%;
        padding: 1.5rem 1rem;
        align-items: center; } }
  .form__back-button {
    color: #666;
    transition: all 0.2s;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    padding: 1rem; }
    .form__back-button:hover {
      color: #0a254d; }
  .form__next-step {
    color: #fff;
    padding: 1.4rem 0;
    width: 12rem;
    background-color: #0a254d;
    border-radius: 0.5rem;
    transition: all 0.2s; }
    .form__next-step:hover {
      opacity: 0.75; }

.final-message {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 900px) {
    .final-message {
      grid-column: 1 / -1;
      margin: 10rem 0; } }
  @media only screen and (max-width: 600px) {
    .final-message {
      transform: translateY(-7.2rem);
      grid-column: 2 / span 18;
      background-color: white;
      padding: 7.5rem 2rem;
      border-radius: 1rem;
      grid-template-rows: auto auto;
      margin: 0; } }
  .final-message__img {
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 600px) {
      .final-message__img {
        height: 5.5rem;
        margin-bottom: 1.5rem; } }
  .final-message__title {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    color: #0a254d;
    font-weight: bold; }
    @media only screen and (max-width: 600px) {
      .final-message__title {
        margin-bottom: 0.5rem; } }
  .final-message__subtitle {
    max-width: 38.5rem;
    color: #999;
    font-size: 1.4rem;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .final-message__subtitle {
        font-size: 1.5rem; } }

.content {
  max-width: 90rem;
  height: 59.8rem;
  background-color: white;
  margin: 10rem auto;
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 274px 1fr; }
  @media only screen and (max-width: 900px) {
    .content {
      grid-template-columns: repeat(8, 1fr);
      height: auto;
      margin: 0;
      border-radius: 0; } }
  @media only screen and (max-width: 600px) {
    .content {
      grid-template-columns: repeat(20, 1fr);
      padding: 0;
      background-color: #f8f9fe;
      grid-template-rows: auto auto auto;
      position: relative; } }
